<!-- <div class="inputColor">
  <h6>Employee Search</h6>
  <input type="text" [(ngModel)]="term">
  <div *ngIf="term">
    <ul class="list-group">
      <div *ngFor="let item of employeeService.employees | filter:term">
        <li class="list-group-item pointer" data-target="#detail-modal" data-toggle="modal">{{ item.name }}</li>
        <a class="action-btn" (click)="showDetails(item)">
          <div *ngIf="item">
            <app-detailmodal [selectedObj]="obj"></app-detailmodal>
          </div>
        </a>
      </div>
    </ul>
  </div>
</div> -->

<div class="container">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="term">
  <div *ngIf="term">
    <ul class="list-group">
      <div *ngFor="let item of employeeService.employees | filter:term">
        <li class="list-group-item pointer" data-target="#detail-modal" data-toggle="modal">{{ item.name }}</li>
        <a class="action-btn" (click)="showDetails(item)">
          <div *ngIf="item">
            <app-detailmodal [selectedObj]="obj"></app-detailmodal>
          </div>
        </a>
      </div>
    </ul>
  </div>
</div>